<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bulma.min.css">
    <title>Vue App</title>
</head>
<body>
	<div id="app">
		<div class="columns">
			<div class="column">
				<section class="hero">
					<div class="hero-body">
						<div class="container">
							<h1 class="title">
								<figure class="image is-64x64">
									<img class="is-rounded" src="https://blog.virginmobile.cl/wp-content/uploads/2020/06/vblog_layout-6-833x540.jpg">
								</figure>Harry Potter
							</h1>
							<h2 class="subtitle">
								  La app...🤙
							</h2>
						</div>
					</div>
				</section>
			</div>
			<div class="column">
				<div class="field" style="margin-top: 30%;">
					<div class="control">
						<h4 class="subtitle">Houses...🏰</h4>
					  	<div class="select is-info">
							<select v-model="house">
								<option>Gryffindor</option>
								<option>Slytherin</option>
								<option>Hufflepuff</option>
								<option>Ravenclaw</option>
								<option value="Humans" >Humans or others(don't house!)</option>
							</select>
					  	</div>
					</div>
				</div>
			</div>
			<div class="column">
				<div style="margin-top: 23%;" class="column">
					<h4 class="title">Buscar:</h4>
					<input v-model="search" style="width: 80%;" class="input is-rounded" type="text" placeholder="Name...">
				</div>
			</div>
			<div class="column">
				<div style="margin-top: 23%;" class="column">
					<h4 class="title">Ordenar:</h4>
					<div class="select is-primary">
						<select v-model="order">
							<option>Nombre</option>
							<option>Apellido</option>
							<option>Vida</option>
						</select>
					</div>
				</div>
			</div>
		</div>	
		<div class="columns">
			<div v-if="house != ''" class="column">
				<section class="hero">
					<div class="hero-body">
						<div class="container">
							<h2 class="title">
								{{house}} 
								<span v-if="house === 'Gryffindor'">🦁</span>
								<span v-if="house === 'Slytherin'">🐍</span>
								<span v-if="house === 'Ravenclaw'">🦅</span>
								<span v-if="house === 'Hufflepuff'">🦡</span>
								<span v-if="house === 'Humans'">or others🧑</span>
							</h2>
						</div><br/>
						<table style="margin-left: 5%;" class="table">
							<thead>
								<tr>
									<th>Image</th>
									<th>Name</th>
									<th>Sangre</th>
								</tr>
							</thead>
							<tbody>
								<tr v-for="wiz in wizards">
									<td>
										<figure class="image is-32x32">
											<img overflow class="is-rounded" :src="wiz.image" >
										</figure>
									</td>
									<td>{{wiz.name}}</td>
									<td v-if="wiz.alive"><ion-icon name="pulse-sharp"></ion-icon></td>
									<td v-else><ion-icon name="skull-sharp"></ion-icon></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>
			
		</div>
	</div>
	
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript" src="axios.min.js"></script>
	<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
	<script type="text/javascript" src="my_app.js"></script>

</body>
</html>